.cell {
  background-color: white;
  border: 0.5px solid black;
  width: 40px;
  height: 40px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}
.label {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.label.top {
  text-align: center;
  vertical-align: bottom;
}

.label.left {
  text-align: right;
  vertical-align: middle;
}

.guide {
  background-color: rgb(230, 255, 192);
}

.hover {
  background-color: rgb(154, 255, 131);
  box-shadow: 0 0 6px 2px rgb(0, 168, 0) inset;
}

.selected {
  background-color: rgb(101, 209, 255);
}

.eliminated {
  background-color: rgb(160, 160, 160);
}

.unplayable {
  pointer-events: none;
}

.solved {
  opacity: 0.7;
}

/* .complete-message{
  position: absolute;
  font-size: 500%;

  padding: 10px 20px;
  opacity: 0.7;
  
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  border-radius: 10px;
  color: black;

  z-index: 2;
} */

.table {
  z-index: 1;
}

.board {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}
