.nav-list {
  list-style-type: none;

  padding: 10px;
}

.nav-item {
  display: inline;
  margin: 5px;

  cursor: pointer;
}

.home {
  display: inline;
}

.practice {
  display: inline;
}

.nav {
  position: relative;

  text-align: left;
  width: 100%;
  top: 0px;
}
